@import './design-system.css';
@import './motion.css';

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;
}

input,
select,
textarea {
  font-family: inherit;
  outline: none;
}
